ul, li, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --font-left-padding: 80px;
  --font-top-padding: 40px;
}

@font-face {
  font-family: 'Cafe24SsurroundAir';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Cafe24SsurroundAir';
}

header {
  width: 100%;
  height: 100%;
}

#open-menu {
  width: 2.5vw;
  position: fixed;
  right: 1%;
  top: 2%;
  z-index: 10;
  -webkit-filter: invert(1);
          filter: invert(1);
  cursor: pointer;
}

#overlay {
  margin: 0;
  padding: 0;
}

#overlay #overlay-min {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  position: fixed;
  top: -100%;
  z-index: 9999;
  background-image: url(../img/menu.png);
  background-size: cover;
}

#overlay #overlay-min li {
  padding: 0.5%;
}

#overlay #overlay-min li a {
  font-size: 2.5vw;
  font-weight: bold;
  color: #fff;
  position: relative;
}

#overlay #overlay-min li a:after {
  content: "";
  width: 0;
  height: 5em;
  position: absolute;
  left: 0;
  bottom: 0;
  display: inline-block;
  border-bottom: 3px solid #fff;
  -webkit-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
}

#overlay #overlay-min li a:hover:after {
  width: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
}

#slider {
  width: 100%;
  height: 100vh;
  background-image: url(../img/intro.png);
  background-size: cover;
}

.section {
  width: 100%;
  height: 200vh;
  position: relative;
  top: 0;
}

.section-one {
  padding-left: var(--font-left-padding);
  padding-top: var(--font-top-padding);
}

.section-one h1 {
  font-size: 7vw;
}
